@model Model.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> 
    addEventListener("load", function() { 
        setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);
         } 
    </script>
    <link href="~/css/popuo-box.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>
<body>
    <h1>EXISTING LOGIN FORM</h1>

    <div class="w3layoutscontaineragileits">
        <h2>Login here</h2>
        @*<form action="#" method="post">*@
      @using (Html.BeginForm("Login", "UserInfo", FormMethod.Post, new { }))
{
    @Html.TextBoxFor(m => m.UserName, new { placeholder = "用户名" })
    @Html.TextBoxFor(m => m.Password, new { type="Password", placeholder = "密码"})
    <ul class="agileinfotickwthree">
        <li>
            <input type="checkbox" id="brand1" value="">
            <label for="brand1"><span></span>记住我</label>
            <a href="#">Forgot password?</a>
        </li>
    </ul>
    <div class="aitssendbuttonw3ls">
        <input type="submit" value="登录">
        <p> To register new account <span>→</span> <a class="w3_play_icon1" href="@Url.Action("Register","UserInfo")" alt="_blank"> 点击前往注册</a></p>
        <div class="clear"></div>
    </div>
}
    </div>
    <!-- for register popup -->
   
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
    </script>

</body>
</html>
