@model Model.UserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <title>Register</title>
    <script type="application/x-javascript">

        addEventListener("load", function() {
            setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);
             }
    </script>
    <link href="~/css/popuo-box.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
</head>
<body>
    <h1>Register Form</h1>
    <div class="w3layoutscontaineragileits">
        
        @*<form action="#" method="post">*@
        @using (Html.BeginForm("Register", "UserInfo", FormMethod.Post, new { }))
        {
            <div class="form-sub-w3ls">
                @*<input placeholder="User Name" type="text" required="">*@
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { PlaceHolder = "用户名" } })
                <div class="icon-agile">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="form-sub-w3ls">
                @*<input placeholder="Email" class="mail" type="email" required="">*@
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { PlaceHolder = "邮箱" } })
                <div class="icon-agile">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="form-sub-w3ls">
                @*<input placeholder="Password" type="password" required="">*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "Password", PlaceHolder = "密码" } })
                <div class="icon-agile">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
            </div>
            <div class="form-sub-w3ls">
                @*<input placeholder="Confirm Password" type="password" required="">*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "Password", PlaceHolder = "确认密码" } })
                <div class="icon-agile">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </div>
            </div>
            <div class="login-check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">我已阅读并接受</label>
            </div>
            <div class="submit-w3l">
                <input type="submit" value="Register" class="aitssendbuttonw3ls">
            </div>
        }
        </div>


        <script src="~/js/jquery-2.1.4.min.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>
        <script>
            $(document).ready(function () {
                $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
</body>
</html>
